<%= form_with model: [:admin, project], class: "space-y-6" do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-text-field" %>
  </div>

  <div>
    <%= form.label :subdomain %>
    <%= form.text_field :subdomain, class: "form-text-field" %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 6, class: "form-text-field" %>
  </div>

  <div class="flex items-center gap-3">
    <%= form.check_box :current,
        class: "w-4 h-4 rounded border-stone-700 bg-stone-900 text-amber-400 focus:ring-amber-400" %>
    <%= form.label :current, "Current Project" %>
  </div>

  <div>
    <%= form.submit class: "bg-amber-400 text-black px-4 py-2 rounded hover:bg-amber-300 cursor-pointer" %>
  </div>

<% end %>