<% current_project = Project.current %>

<div class="max-w-7xl mx-auto px-4 space-y-12">
  <section class="text-center mx-auto">
    <h1 class="text-2xl text-amber-400 mb-4">Welcome to OwlFlight!</h1>
    <p class="text-stone-300 text-lg leading-relaxed">
      I’m a web application developer focused on building things and sharing what I learn along the way.
    </p>
  </section>

  <section class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="bg-stone-900/40 border border-stone-800 rounded-xl p-5 h-full">
      <h2 class="text-amber-400 text-2xl mb-4">Current Project</h2>
      <% if current_project %>
        <h3 class="text-stone-100 text-xl mb-4 hover:text-amber-300 font-semibold grow">
          <%= link_to current_project.name,
              current_project.url %>
        </h3>

        <div class="bg-stone-900 w-full h-48 flex items-center justify-center">
          <p class="text-stone-500 uppercase tracking-widest text-sm">
            Image
          </p>
        </div>

        <p class="text-stone-400 mt-2 line-clamp-3">
          <%= current_project.description %>
        </p>
      <% else %>
        <p class="text-stone-400 italic">No current project selected.</p>
      <% end %>
    </div>

    <div class="bg-stone-900/40 border border-stone-800 rounded-xl p-5 h-full">
      <h2 class="text-amber-400 text-2xl mb-4">Current Tasks</h2>
      <% if current_project %>
        <ul class="space-y-1">
          <% current_project.tasks.each do |task| %>
            <li class="flex items-center gap-3">
              <span class="w-5 text-center">
                <% if task.completed? %>
                  <%= image_tag "icons/check.svg", class: "w-4 h-4 inline" %>
                <% else %>
                  -
                <% end %>
              </span>

              <span class="flex-1">
                <%= task.description %>
              </span>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-stone-400 italic">No current project selected.</p>
      <% end %>
    </div>

    <div class="bg-stone-900/40 border border-stone-800 rounded-xl p-5 h-full">
      <h2 class="text-amber-400 text-2xl mb-4">Latest Blog Posts</h2>
      <div class="space-y-4">
        <% BlogPost.latest.each do |blog_post| %>
          <div>
            <div class="flex flex-row">
              <%= link_to blog_post.title,
                  blog_post_path(blog_post),
                  class: "text-stone-100 hover:text-amber-300 font-semibold grow" %>

              <span class="notidate shrink"><%= blog_post.formatted_date %></span>
            </div>

            <p class="text-stone-400 text-sm mt-1 line-clamp-3">
              <%= blog_post.description %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
