<div class="flex flex-col mx-auto mt-5 mb-20">
  <div class="flex flex-row text-amber-400 text-2xl mb-1">
    <div class="grow">
      <%= @blog_post.title %>
    </div>

    <div class="flex flex-row justify-center mb-3 mr-2">
      <%= link_to edit_admin_blog_post_path(@blog_post) do %>
        <%= image_tag "icons/square-pen.svg", class: "ml-2" %>
      <% end %>

      <%= link_to admin_blog_post_path(@blog_post),
        data: {
          turbo_method: :delete,
          turbo_confirm: "Delete this post?"
        } do %>
        <%= image_tag "icons/trash.svg", class: "ml-2" %>
      <% end %>
    </div>
  </div>

  <div class="italic mb-4 ml-1"><%= @blog_post.formatted_datetime %></div>

  <hr class="section-divider" />

  <div class="prose prose-invert mx-auto m-4"><%= markdown(@blog_post.content) %></div>
</div>
